<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Konitex</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
</head>
<body>

    <div class="main" >
        <div class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div id="slider">
                    <a class="modal-closed">Cerrar</a>
                    <a href="#" class="control_next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    <a href="#" class="control_prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                    <ul>
                        <li>
                            <img src="/assets/images/slider_01_03.png" alt="" class="is_mobile">
        
                            <img src="/assets/images/slider_01_03_493x671.png" alt="" class="is_desktop">
                        </li>
                        <li>
                            <img src="/assets/images/slider_01_03.png" alt=""  class="is_mobile">
                            <img src="/assets/images/slider_01_03_493x671.png" alt="" class="is_desktop">
                        </li>
                        <li>
                            <img src="/assets/images/slider_01_03.png" alt=""  class="is_mobile">
                            <img src="/assets/images/slider_01_03_493x671.png" alt="" class="is_desktop">
                        </li>
                        <li>
                            <img src="/assets/images/slider_01_03.png" alt=""  class="is_mobile">
                            <img src="/assets/images/slider_01_03_493x671.png" alt="" class="is_desktop">
                        </li>
                    </ul>  
                </div>
            </div>
        </div>  
        <section class="hero">
            <div class="hero-body">
                <div class="container wrapper_desktop_info">
                    <div class="columns is-gapless is-multiline wrapper_column_desktop_info is-desktop">
                        <div class="column">
                            <div class="wrapper_content_seleccion">
                                <div class="content_title">
                                    <h2>Unidos por un mismo sueño</h2>
                                </div>
                                <div class="content_seleccion">
                                    <h3>Alentemos a nuestra selección</h3>
                                    <img src="/assets/images/seleccion_01.png" alt="">
                                    <div class="content_seleccion_info">
                                        <img src="/assets/images/info_01_03.png">    
                                    </div>
                                </div>
                                <div class="content_view_photo"> 
                                    <a href="#" class="showModal">Ver galeria de fotos</a>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="container_logo">
                                <a class="link_logo"><img src="/assets/images/logo_desktop_01_03.png"></a>
                                <p>Adquiere tu camiseta <br>directo de la fabrica</p>
                                <div>
                                    <div class="block_form"></div>
                                    <div class="content_contact">
                                        <div class="block_contact">
                                            <div class="block_a_contact">
                                                <img src="/assets/images/wt_01_03.png" alt="">
                                            </div>
                                            <div class="block_b_contact">
                                                Contáctanos<br>
                                                <a href="#">991 514 773</a>
                                            </div>    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container wrapper_info is-fullhd wrapper_is_mobile">
                    <h1 class="title">
                        <img src="/assets/images/logo_01.png">
                    </h1>
                    <h2 class="subtitle">
                        Adquiere tu camiseta directo de la fabrica
                    </h2>
                    <div class="columns is-mobile wrapper_info_links is-gapless">
                        <div class="column column_left">
                            <span class="wrapper_link_left">
                                <a href="#">
                                    <img src="/assets/images/link_01.png" alt="middle">
                                </a>
                            </span>
                        </div>
                        <div class="column column_right">
                            <span class="wrapper_link_right_icon">
                                <img src="/assets/images/icon_01.png" alt="" align="top">
                            </span>
                            <span class="wrapper_link_right">
                                <a href="#" class="modal-button showModal" data-target="modal">Ver fotos</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="hero">
            <div class="hero-body">
                <div class="container wrapper_portada wrapper_is_mobile">
                    <img src="/assets/images/image01.png">
                </div>
                <div class="container wrapper_block_space wrapper_is_mobile"></div>
                <div id="main" class="container wrapper_form">
                    <form action="#">
                        <div class="wrapper_dropdown">
                            <div class="dropdown-trigger">
                                <button class="button select_button" @click="selectDropdown" aria-haspopup="true" aria-controls="dropdown-menu2" type="button">
                                    <div class="item_detail">
                                        <div class="item_text">{{ selectText }}</div>
                                        <div class="item_price">S/ {{ selectValue }}</div>
                                    </div>
                                    <div style="padding-right: 19px;">
                                        <span class="icon is-large">
                                            <i class="fa fa-2x fa-sort-desc" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                </button>
                            </div>
                            <div class="dropdown dropdown-menu" id="dropdown-menu2" role="menu">
                                <div class="dropdown-content">
                                    <span v-for="(product, index) in products">
                                        <div class="dropdown-item" >
                                            <a href="#" v-on:click.prevent="selectProduct(index)">
                                                <div class="item_detail">
                                                    <div class="item_text">{{ product.name }}</div>
                                                    <div class="item_price">S/ {{ product.price.toFixed(2) }}</div>
                                                </div>
                                            </a>
                                        </div>
                                        <hr class="dropdown-divider">
                                    </span>           
                                </div>
                            </div>
                        </div>
                        <div class="columns wrapper_type_content">
                            <div class="column is-12 wrapper_type">
                                <article class="tile is-child">
                                    <div class="columns is-multiline is-mobile size_content_adult">
                                        <div class="column is-12 is-one-quarter size_item_title">
                                            <div>Adulto</div>
                                        </div>
                                        <div class="column is-8 is-one-quarter size_item_detail_left">
                                            <label for="">Talla</label>
                                            <div class="group_size_button">
                                                <span v-for="(size, index) in size_adults">
                                                    <input type="radio" name="size_adult" :value="size" :id="'size_' + size" v-model="size_adult">
                                                    <label :for="'size_' + size">{{ size }}</label>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="column is-4 is-one-quarter size_item_detail_right">
                                            <label for="">Color</label>
                                            <div class="group_color_button">
                                                <input type="radio" name="color_adult" id="color_adult_a" value="COLOR_A" v-model="color_adult">    
                                                <label for="color_adult_a"><img src="/assets/images/color_a.png" alt=""></label>
                                                <input type="radio" name="color_adult" id="color_adult_b" value="COLOR_B" v-model="color_adult">
                                                <label for="color_adult_b"><img src="/assets/images/color_b.png" alt=""></label>
                                            </div>
                                        </div>
                                        <div class="column is-12 is-one-quarter size_item_detail_center">
                                            <label for="">Cantidad</label>
                                            <div>
                                                <select name="" id="" class="size_quanty size_adult_quanty" v-model="amount_adult" @change="calculate">
                                                    <option :value="amount" v-for="(amount, index) in amounts">{{ amount }}</option>
                                                </select>
                                            </div>
                                            <hr class="size_item_divider">
                                        </div>
                                    </div>
                                    <div class="columns is-multiline is-mobile size_content_boys">
                                        <div class="column is-12 is-one-quarter size_item_title">
                                            <div>Niños</div>
                                        </div>
                                        <div class="column is-8 is-one-quarter size_item_detail_left">
                                            <label for="">Talla</label>
                                            <div class="group_size_button">
                                                <span v-for="(size, index) in size_boys">
                                                    <input type="radio" name="size_boy" :value="size" :id="'size_' + size" v-model="size_boy">
                                                    <label :for="'size_' + size">{{ size }}</label>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="column is-4 is-one-quarter size_item_detail_right">
                                            <label for="">Color</label>
                                            <div class="group_color_button">
                                                <input type="radio" name="color_boy" id="color_boy_a" value="COLOR_A" v-model="color_boy">    
                                                <label for="color_boy_a"><img src="/assets/images/color_a.png" alt=""></label>
                                                <input type="radio" name="color_boy" id="color_boy_b" value="COLOR_B" v-model="color_boy">
                                                <label for="color_boy_b"><img src="/assets/images/color_b.png" alt=""></label>
                                            </div>
                                        </div>
                                        <div class="column is-12 is-one-quarter size_item_detail_center">
                                            <label for="">Cantidad</label>
                                            <div>
                                                <select name="" id="" class="size_quanty size_boy_quanty" v-model="amount_boy" @change="calculate">
                                                    <option :value="amount" v-for="(amount, index) in amounts">{{ amount }}</option>
                                                </select>
                                            </div>
                                            <hr class="size_item_divider">
                                        </div>
                                    </div>
                                    <div class="columns is-multiline is-mobile total_content_price">
                                        <div class="column is-6 is-one-quarter is-one-quarter price_item_total">
                                            <label for="">Total</label>
                                        </div>
                                        <div class="column is-6 is-one-quarter is-one-quarter price_item_total">
                                            <label for="">S/ {{ amount_total.toFixed(2) }}</label>
                                        </div>
                                    </div>
                                    <div class="columns is-multiline is-mobile content_button">
                                            <button>LO QUIERO!</button>
                                    </div>    

                                </article>
                            
                            </div>
                        
                        </div>
                        <br>
                    </form>
                    
                        
                </div>
                <div class="container wrapper_block_white"></div>
            </div>
        </section>
        <section class="hero" style="background-color: #ffffff">
            <div class="hero-body">
                <div class="container wrapper_footer wrapper_is_mobile">
                    <div class="level">
                        <div class="footer_left"><img src="/assets/images/wt.png" alt=""></div>
                        <div class="footer_right">991 514 773</div>
                    </div>
                </div>
            </div>
        </section>
        
        
    </div>
    
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="text/javascript" src="/assets/js/main.js"></script>
    
</body>
</html>